/* .contact-bg {
  background: url('../../../images/footerbg.svg') no-repeat;
  height: 800px;
} */

.contact-formContent {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
  /* margin-left: 12%; */
}

.contact-formContent > input {
  width: 404px;
  height: 70px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid #6F5DE0;
  margin-bottom: 7%;
}

.test {
  color: black;
  font-family: 'GilroyRegular';
  font-size: 20px;
}

.contact-formContent > input::placeholder {
  color: #464646;
  font-family: 'GilroyRegular';
  font-size: 20px;
}
